SERPAPI_KEY=
TELEGRAM_BOT_TOKEN=
TELEGRAM_CHAT_ID=

ORIGIN_OUTBOUND=VCP
DESTINATION_OUTBOUND=JPR
ORIGIN_INBOUND=JPR
DESTINATION_INBOUND=VCP

OUTBOUND_DATE_START=2026-12-01
OUTBOUND_DATE_END=2026-12-28
INBOUND_DATE_START=2027-01-01
INBOUND_DATE_END=2027-01-28

TARGET_PRICE=1700
CHECK_TIME=09:00