SERPAPI_KEY=
TELEGRAM_BOT_TOKEN=
TELEGRAM_CHAT_ID=

ORIGEM_IDA=VCP
DESTINO_IDA=JPR
ORIGEM_VOLTA=JPR
DESTINO_VOLTA=VCP

DATA_IDA_INICIO=2025-12-01
DATA_IDA_FIM=2025-12-28
DATA_VOLTA_INICIO=2026-01-01
DATA_VOLTA_FIM=2026-01-28

PRECO_ALVO=1700
HORARIO_VERIFICACAO=09:00